<nav>
  <div class="site-name">
    <a href="/"><h1>my blog name</h1></a>
    <p>some content about my blog</p>
  </div>
  <ul>
    <li><a href="/">blogs</a></li>
    <li><a href="/about">about</a></li>
    <li><a href="/blogs/create">new blog</a></li>
  </ul>
</nav>
