<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
  <body>
    <%- include('./partials/nav.ejs')%>

    <div class="about content">
      <h2>about us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
        ullam vitae, porro impedit magnam voluptate quidem atque excepturi non
        odit est labore accusantium nesciunt aut deleniti assumenda ex sint
        delectus.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
        ullam vitae, porro impedit magnam voluptate quidem atque excepturi non
        odit est labore accusantium nesciunt aut deleniti assumenda ex sint
        delectus.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
        ullam vitae, porro impedit magnam voluptate quidem atque excepturi non
        odit est labore accusantium nesciunt aut deleniti assumenda ex sint
        delectus.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
        ullam vitae, porro impedit magnam voluptate quidem atque excepturi non
        odit est labore accusantium nesciunt aut deleniti assumenda ex sint
        delectus.
      </p>
    </div>
    <%- include('./partials/footer.ejs')%>
  </body>
</html>
